/*reglas
selectores
declaraciones
propopiedades
valores*/
 

.header{
  margin: 0px;
  background-color: #264653;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  flex-wrap: wrap;
  border-bottom: 0.5px solid gray;
  text-transform: uppercase;
  box-sizing: border-box;
  position: sticky;
  top: 0;
}

.menu{
  height: inherit;
}
.header ol{
  display: flex;
  height: inherit;
}

.header ol li{
  height: inherit;
}

.header a{
  display: flex;
  height: 60px;
  align-items: center;
  padding: 0 10px;
  width: auto;
  transition: .3s;
}

.link:hover{
  background: #2A9D8F;
}

.header ol{
  height: inherit;
}

body{
  font-family: 'Roboto Mono', monospace;
  color:white;
  margin: 0px;
}
.link{
  color:white;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family:'Source Sans Pro' sans-serif;
}

h1{
  font-style: italic;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: -.2;
  text-transform: uppercase;
  margin: 0px; 
  z-index: 1;
  font-size: 2em;
}


h1 strong{
  color: #33B1FF;
}
ol{
  margin: 0px;
  padding:0;
  list-style: none;
  display: flex; 
}

ul{
  margin: 0px;
  padding:0;
  list-style: none;
}

.dog-fine{
  margin: 0px;
  background: #E76F51;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  border-bottom: 0.5px solid gray;
}
.contenedorDeHero{
  display: flex;
  max-height: 450px;
  height: 100%;
}
.fine-image{
  /* border-radius: 10px ; */
  width: 50%;
  display: inline-block;
}

.dog-title{
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: white;
  font-style: BOLD;
}


.fine-imageContainer{
  display: contents;
}
.text-dogFine{
   margin-top: 0px;
   max-width: 500px;
   width: 100%;
   display: inline-block;
   text-align: justify;
   padding: 0 10px;
}

.hero{
  /* background-image: url("imagenes/portada2.jpg"); */
  /* background-size: 500px 300px; */
  /* background-repeat: no-repeat; */
  /* background-position-x:right ; */
  font-family: 'Yanone Kaffeesatz', sans-serif; 
  font-weight: bold;
  color: white;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* width: 1000px; */
  position: relative;
  overflow: hidden;
  padding: 2em 0;
  margin: 0 auto;
  background: #2A9D8F;
}

.hero-image{
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;

}
 
.logo{
  height: 40px;
}

.adoptar{
background-color: #F9C74F;
}

.adoptar-title{
  font-family: 'Chilanka', cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: #1D252C;
  margin: 0;
  padding: 10px 0;
}

 .fabio{
  max-width: 290px;
  width: 100%;
  height: 473px;
  margin: 20px;
  border: gray 1px solid;
  border-radius: 30px;
  box-sizing: border-box;
}
.description-fabio{
  padding: 0 5%;
  box-sizing: border-box;
  text-align: center;
}



.boton{
  text-align: center;
  padding: 5%;
}

.rocio{
  max-width: 290px;
  width: 100%;
  box-sizing: border-box;
  height: 440px;
  margin: 20px;
  border: gray 1px solid;
  border-radius: 30px;
}



.tailer{
  max-width: 290px;
  width: 100%;
  box-sizing: border-box;
  height: 440px;
  margin: 20px;
  border: gray 1px solid;
  border-radius: 30px;
} 
.tailer-image{
  width: 250px;
  height: 200px;
}


.logo-imageContainer{
  margin: 0px;
}

 
.url{
  text-decoration: none;
  border: 1px solid #056fff;
  color: white;
  padding: 5px 16px;
  border-radius: 10px;
  font-size: 0.9em;
  transition: 0.4s;
}

.url:hover{
  background: #0077B6;
  color: white;
  border: none;
  
}
.wiki{
  text-decoration: none;
  color: lightgreen;
}
.flexbox{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.box{
  flex-wrap: inherit;
}

.fabio, .rocio, .tailer{
  background-color: white;
  text-align: center;
}
.gatos{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  background-color: #E76F51;
}


.gatos img{
  border-radius: 15px;
  /* flex-wrap: wrap; */
}

.gato-title{
  font-family: 'Chilanka', cursive;
  text-align: center;
  background: #E76F51;
  margin: 0;
  padding: 15px 0;
  color: white;
  border-top: 0.5px solid gray;
}

.gato-image{
  padding: 10px;
  width: 180px;
  height: 300px;
}


.perros{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #F9C74F;
}
.perro-title{
  text-align: center;
  margin-top: 0;
  background-color: #F9C74F;
  margin: 0;
  font-family: 'Chilanka', cursive;
  color: white;
  padding: 2% 0;
}


.perro-image{
  max-width: 250px;
  width: 70%;
  max-height: 250px;
  height: 100%;
}

figure{
  margin:0 ;
  text-align: center;
  }
.footer{
  background-color: #5F0F40;
 display: flex;
 color:white;
 align-items: center;
 justify-content: space-between;
 flex-wrap: wrap;
}
.footer img{
  /* margin: 0; */
  
  vertical-align: middle;
}
.footer a{
  color:white;
  text-decoration: none;
}

.contact{
  background-color: #8C0627;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-top: 0.5px gray solid ;
}

.contact-title{
  margin: 0;
  padding: 2% 0;
}


.social-link{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
}

.social-link.facebook{
  background-image: url(imagenes/facebook.svg);
}

.social-link.github{
  background-image: url(imagenes/github.svg);
}

.social-link.instagram{
  background-image: url(imagenes/instagram.svg);
}

.social-link.twitter{
  background-image: url(imagenes/twitter.svg);
}

.form-email{
  margin: 20px;
}

.form-email input{
  padding:10px 20px 10px 30px;
  border-radius: 5px;
  border-style: solid;
  border:none;
  background-image: url(imagenes/envelope.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position-y: center;
  background-position-x: 5px;
  outline: none;
}

.form-email button{
  display: block;
  padding: 10px 30px;
  background: transparent;
  color: white;
  width: 100px;
  border: white 1px solid;
  border-radius: 5px;
  margin: 4% 0;
}

.container-1{
  align-items: inherit;
  justify-content: center;
  display: inherit;
  margin: 0 auto;
  width: 1000px;
  flex-wrap: wrap;
}

.container{
  /* border: solid 1px red; */
  align-items: inherit;
  justify-content: inherit;
  display: inherit;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  flex: 1;
  flex-wrap: wrap;
}
.donar{
  border: 1px white solid;
  border-radius: 5px;
  padding: 5px 20px;
}

.adoptar h2{
  color: white;
  font-family: 'Chilanka', cursive;
}

.fabio, .rocio, .tailer{
  background: #2A9D8F;
  color: white;
  height: auto;
  font-size: 20px;
  border: none;
}
.tailer-image, .rocio-image, .fabio-image{
  max-width: 200px;
  width: 70%;
  height: 100%;
}

.description-fabio, .description-tailer, .description-rocio{
  font-size: 0.8em;
}

.box{
  display: contents;
}







@media screen and (max-width: 1023px){
  .hero{
    width: auto;
    position: relative;
    overflow: hidden;
    /* padding: 1.5em 0; */
  }

  .hero-image{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    width: 100%;
  }

  .hero-image{
    max-height: 300px;
    height: 100%;
  }

  .dog-fine{
    max-height: 400px;
  }
}

@media screen and (max-width:767px){


  .dog-title{
    text-align: start;
  }
  .hero h1{
    font-size: 1.5em;
  }

  .hero{
    padding: 1.3em 0;
  }
.contact{
  height: auto;
  align-items: center;
  text-align: center;
  display: block;
  padding: 1em 0;
}
.form-email{
  margin: 0;
}

label{
  display: block;
}
.botonContainer{
  display: flex;
  justify-content: center;
  padding: 2% 0;
}
.footer{
  display: block;
  margin: 0;
  text-align: center;
}

.footer p{
  padding: 10px 0;
  margin: 0;
}
.contenedorDeHero{
  display: contents;
}


.text-dogFine{
  max-width: 90%;
  text-align: justify;
  display: iniial;
  align-items: center;
  padding: 0 10px;
}

.fine-image{
  display: none;
}

}

  @media screen and (max-width:479px){
    .header{
      height: auto;
    }

    .header ol{
      display: initial;
    }
    .container{
      display: block;
    }

    .header a{
      display: flex;
      height: 50px;
      justify-content: center;
    }

    .logo-imageContainer{
      text-align: center;
    }

    .fabio, .rocio, .tailer{
      color: white;
      margin: 0;
      margin: 30px 0;
      width: 70%;
      padding: 0;
      text-align: center;
      border: no;
    }


    .rocio-image,  .fabio-image, .tailer-image{
      padding: 0%;
    }
    .fabio{
      height: 100%;
      margin: 0;
      padding: 0;
      padding-bottom: 3%;
    }

    .dog-title{
      font-size: 1.4em;
    }
    .dog-text{
      font-size: .85em;
    }
    .hero h1{
      font-size: 1.3em;
    }
  }


@media screen and (max-width:399px){
  .hero h1{
    font-size: 1.1em;
  }

  .dog-text{
    font-size: .8em;
  }

}

  @media screen and (max-width:320px){
  .description-fabio, .description-tailer, .description-rocio{
  font-size: 0.6em;
  }

  h3{
    font-size: 0.8em;
  }

  .url{
    padding: 3px 7px;
    font-size: 15px;
  }
  .footer{
    font-size: 15px;
  }

  .contact-title{
    font-size: 18px 
  }

  .dog-text{
    font-size: 0.75em;
    text-align: justify;
  }
  .dog-date{
    font-size: 0.74em;

  }
  .dog-title{
    font-size: 1em;
  }
  .adoptar-title{
    font-size: 1.1em;
  }

  
  }